/*
 * Copyright (C) 2020 Carl Raffaele Jr.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

* {
    box-sizing: border-box;
}

/*Use the .textBuffer defaults*/
.styleNormal {
    font-size: 1em;
}

.styleEmphasized {
    font-weight: bold;
}

.stylePreformatted {
    font-family: 'DejaVu Sans Mono', monospace;
}

/*Copied from https://www.w3schools.com/tags/tag_hn.asp H1 info*/
.styleHeader {
    /*display: block;*/
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}

/*Copied from https://www.w3schools.com/tags/tag_hn.asp H2 info*/
.styleSubheader {
    /*display: block;*/
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}

.styleAlert {
    color: darkred;
    font-size: 1.2em;
    font-weight: bold;
}

.styleNote {
    font-style: italic;
}

/*Take from https://www.w3schools.com/tags/tag_blockquote.asp definition of <blockquote>*/
.styleBlockQuote {
    /*display: block;*/
    margin: 1em 40px;
}

.styleUser1 {

}

.styleUser2 {

}